<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @medical_record.patient_id %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @medical_record.doctor_id %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @medical_record.weight %>
</p>

<p>
  <strong>Triglycerides:</strong>
  <%= @medical_record.triglycerides %>
</p>

<p>
  <strong>Glycated hemoglobin:</strong>
  <%= @medical_record.glycated_hemoglobin %>
</p>

<p>
  <strong>Cholesterol:</strong>
  <%= @medical_record.cholesterol %>
</p>

<p>
  <strong>Systolic:</strong>
  <%= @medical_record.systolic %>
</p>

<p>
  <strong>Diastolic:</strong>
  <%= @medical_record.diastolic %>
</p>

<p>
  <strong>Height:</strong>
  <%= @medical_record.height %>
</p>

<p>
  <strong>Bmi:</strong>
  <%= @medical_record.bmi %>
</p>

<%= link_to 'Edit', edit_medical_record_path(@medical_record) %> |
<%= link_to 'Back', medical_records_path %>
