<%= form_for([@patient, @record]) do |f| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="field">
    <%= f.label :weight %><br>
    <%= f.number_field :weight %>
  </div>
  <div class="field">
    <%= f.label :triglycerides %><br>
    <%= f.number_field :triglycerides %>
  </div>
  <div class="field">
    <%= f.label :glycated_hemoglobin %><br>
    <%= f.number_field :glycated_hemoglobin %>
  </div>
  <div class="field">
    <%= f.label :cholesterol %><br>
    <%= f.number_field :cholesterol %>
  </div>
  <div class="field">
    <%= f.label :systolic %><br>
    <%= f.number_field :systolic %>
  </div>
  <div class="field">
    <%= f.label :diastolic %><br>
    <%= f.number_field :diastolic %>
  </div>
  <div class="field">
    <%= f.label :height %><br>
    <%= f.number_field :height %>
  </div>
  <div class="field">
    <%= f.label :bmi %><br>
    <%= f.number_field :bmi %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
