<p id="notice"><%= notice %></p>



<p>
  <strong>Doctor:</strong>
  <%= @record.doctor_id %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @record.weight %>
</p>

<p>
  <strong>Triglycerides:</strong>
  <%= @record.triglycerides %>
</p>

<p>
  <strong>Glycated hemoglobin:</strong>
  <%= @record.glycated_hemoglobin %>
</p>

<p>
  <strong>Cholesterol:</strong>
  <%= @record.cholesterol %>
</p>

<p>
  <strong>Systolic:</strong>
  <%= @record.systolic %>
</p>

<p>
  <strong>Diastolic:</strong>
  <%= @record.diastolic %>
</p>

<p>
  <strong>Height:</strong>
  <%= @record.height %>
</p>

<p>
  <strong>Bmi:</strong>
  <%= @record.bmi %>
</p>



<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
