<p id="notice"><%= notice %></p>



<p>
  <strong>Doctor:</strong>
  <%= @record.doctor_id %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @record.weight %>
  <%= link_to 'Check Progress', "#", class: "btn btn-primary btn-sm" %>
</p>

<p>
  <strong>Triglycerides:</strong>
  <%= @record.triglycerides %>
  <%= link_to 'Check Progress', "#", class: "btn btn-primary btn-sm" %>
</p>

<p>
  <strong>Glycated hemoglobin:</strong>
  <%= @record.glycated_hemoglobin %>
  <%= link_to 'Check Progress', "#", class: "btn btn-primary btn-sm" %>
</p>

<p>
  <strong>Cholesterol:</strong>
  <%= @record.cholesterol %>
  <%= link_to 'Check Progress', "#", class: "btn btn-primary btn-sm" %>
</p>

<p>
  <strong>Systolic:</strong>
  <%= @record.systolic %>
  <%= link_to 'Check Progress', "#", class: "btn btn-primary btn-sm" %>
</p>

<p>
  <strong>Diastolic:</strong>
  <%= @record.diastolic %>
  <%= link_to 'Check Progress', "#", class: "btn btn-primary btn-sm" %>
</p>

<p>
  <strong>Height:</strong>
  <%= @record.height %>
</p>

<p>
  <strong>Bmi:</strong>
  <%= @record.bmi %>
  <%= link_to 'Check Progress', "#", class: "btn btn-primary btn-sm" %>
</p>



<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
