<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<% @patient.records.each do |record| %>
	<p><%= record.weight %></p>
	<p><%= record.triglycerides %></p>
	<p><%= record.glycated_hemoglobin %></p>
	<p><%= record.cholesterol %></p>
	<p><%= record.systolic %></p>
	<p><%= record.diastolic %></p>
	<p><%= record.height %></p>
	<p><%= record.bmi %></p>
<% end %>

<div class="health" id="chartContainer">
	
</div>

<script>
	
	$(function(){
		//make ajax call

	var full_url = document.URL; // Get current url
	var url_array = full_url.split('/') // Split the string into an array with / as separator
	var last_segment = url_array[url_array.length-1];
	generateGraph(last_segment);

	// 	$.ajax({
	
	// url: '/getting-visualization/' + last_segment, 
	// method: 'GET',
	// dataType: 'json',
	// success: function(data){
	// 		generateGraph(data);
	// 	}  

	// })
})

</script>
